@import "src/variables";
@import "node_modules/bootstrap-scss/bootstrap";

body {
  font-family: monospace;
  font-size: 13px;
}

#root {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
}

pre {
  font-family: monospace;
  font-size: 12px;
}

hr {
  width: 100%;
}

mark {
  background: #ffbe4c;
}

