@import "src/assets/styles/variables";

.gs-context-banner {
  height: 7vh;
  padding: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;
  background-color: $gs-dark-2;

  font-size: 1.1em;
  font-weight: bold;
}