@import "node_modules/bootstrap-scss/bootstrap";
@import "node_modules/bootstrap-scss/_variables";
@import "node_modules/highlight.js/scss/default";

@font-face {
  font-family: 'mono';
  src: url("../assets/fonts/UbuntuMono-Bold.ttf") format("truetype"),
          url("../assets/fonts/UbuntuMono-BoldItalic.ttf") format("truetype"),
          url("../assets/fonts/UbuntuMono-Italic.ttf") format("truetype"),
          url("../assets/fonts/UbuntuMono-Regular.ttf") format("truetype");
}

body {
  font-family: mono monospace;
  font-size: 15px;
}

pre {
  font-family: mono monospace;
  font-size: 12px;
}

hr {
  width: 100%;
}

