@import "src/variables";

.gs-message-banner {
  font-size: 1.1em;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  .gs-info {
    color: $gs-dark-1;
  }

  .gs-error {
    color: #760600;
  }

}