@import "src/variables";

.gs-message-banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  height: 2vm;
  font-size: 1.1em;
  background: $gs-dark-2;
  padding: 0.2em 1em;

  .gs-info {
    color: white;
  }

  .gs-error {
    color: #ffb0b0;
  }

}