
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  src: url("assets/fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'UbuntuMono';
  font-style: italic;
  src: url("assets/fonts/UbuntuMono-Italic.ttf") format("truetype");
}
