
$gs-dark-1: #5d616a;
$gs-dark-2: #26272e;

$gs-blue-1: #e5ecf3;

$border-width: 1px;
$border-color: #d1d5da;

$border-radius: 4px;
$border-radius-lg: 4px;
$border-radius-sm: 4px;

$primary: $gs-dark-2;
$secondary: $gs-dark-1;

$input-focus-border-color: $primary;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;